body{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  background-color: #fff;
  margin:0;
  padding-bottom: 25px;

}
#header-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 10;
      background: #0C8B00;
  -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
}

.topmenu {
    padding: 6px 0;
    background: #3CA04C !important;
    text-align: center;
    font-size: 10px;
    color:white;
}
.promobar {
  margin-top: 20px;
  padding: 10px;
    background: #F7F7F7 !important;
    text-align: left;
    font-size: 15px;
    color: #B0B0B0;
}
.promo1{
  display:block;
}
.edit-promo {
  text-decoration: none;
  color:black;
  background: #179012;border-radius: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 8px;
  color:white;
  letter-spacing: 0px;
  width:90px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.img-circle {
    border-radius: 50%;
    margin: 10px;
    margin-top: 10px;
    float:left;

}
.promo{
  display: block;
  border: 1px solid #ccc;
}
.promotext1 {
  display:inline-block;
    float: left;
    width: 750px;
    height: 55px;
    margin: 10px;

}
table{
  width:100%;
}
